<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crestron.SimplSharp.SDK.Library" version="2.17.80" targetFramework="net47" />
  <package id="Crestron.SimplSharp.SDK.ProgramLibrary" version="2.17.80" targetFramework="net47" />
  <package id="PepperDashCore" version="1.1.0" targetFramework="net47" />
  <package id="PepperDashEssentials" version="1.9.8-alpha-1693" targetFramework="net47" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net47" />
</packages>