[submodule "Essentials-Builds"]
	path = Essentials-Builds
url=https://github.com/PepperDash-Engineering/essentials-builds.git
[submodule "essentials-builds"]
	path = essentials-builds
	url = https://github.com/PepperDash-Engineering/essentials-builds.git
